xkcd/acceptable_risk.png
xkcd/asterisk_corrections.png
xkcd/campfire_habitable_zone.png
xkcd/covid_risk_chart.png
xkcd/cursed_chair.png
xkcd/hamster_ball_2.png
xkcd/photo_deposit.png
xkcd/slide_trombone.png
xkcd/universal_rating_scale.png
geckodriver.log